{% extends 'base.html' %}

{% block title %}CAROUSELL{% endblock %}

{% block headers %}
{% include 'nav-bar-dir.html' %}
    <h1>CAROUSELL</h1>
    
{% endblock %}  



{% block content %}
 <a href="{% url 'excel' %}"><h1>VER  IMAGENES </h1></a>

  {% for img in projects4 %}
<!-- Proyecto -->
    <div class="row project" >
    	<div class="col-lg-3 col-md-4 offset-lg-1">
    	<img class="img-fluid" src="{{img.image.url}}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
    	<h2 class="section-heading title">{{img.title}}</h2>
        </div>  	
    </div>

    <div>
       
        <a style="color: black; text-decoration: none;" href="/borrarimagen/{{img.id}}">Borrar</a>
    </div>
          
    
    {% endfor %}

   <!-- {% for img in projects4 %}
    <div>
        <img src="{{img.image.url}}">
         <h1 style="color: black;">Hola mundo</h1>
    </div>

    <div>
       
        <a style="color: white; text-decoration: none;" href="/borrarimagen/{{img.id}}">Borrar</a>
    </div>
    {% endfor %}-->
    
   
    
{% endblock %}