{% extends 'base.html' %}

{% block title %}paraescolares{% endblock %}

{% block background %}{% load static %}{% static '../static/img/' %}{% endblock %}

{% block headers %}
{% include 'nav-bar.html' %}

    
{% endblock %}              

{% block content %}
<h1>paraescolares <a href="#">DEPORTIVOS </a>o <a href="">CULTURALES</a> </h1>
 
<!--<div id="Carousel" class="carousel slide" data-ride="carousel">
   -- Indicators--
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    -- Wrapper for slides --
    <div class="carousel-inner">
      <div class="item active">
        <img src="../static/img/caru1.jpg"  alt="caru1" style="width:50%; height:50%;" >
      </div>
  
      <div class="item">
        <img src="../static/img/caru2.jpg" alt="caru2" style="width:50%;">
      </div>
  
      <div class="item">
        <img src="../static/img/caru3.jpg" alt="caru3" style="width:50%;">
      </div>
    </div>--
     -- Left and right controls --
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div-->
<div class="menu-has-children" >
  <ul>
    <li>
      <p>
        <iframe width="914" height="514" src="https://www.youtube.com/embed/CSv7tFegU1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </p>
    </ul>
  </li>
</div>
<div class="slider-item slide1773280E64044C97B4C26F2F33AF902B" data-assetid="1773280E-6404-4C97-B4C2-6F2F33AF902B" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0026.jpg?etag=%221c8d2-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>

<div class="slider-item slide2F9E94FA7EF24345AB72EABBBD304252" data-assetid="2F9E94FA-7EF2-4345-AB72-EABBBD304252" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0020.jpg?etag=%2215a89-5ab2b49f%22') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slideBA3EFBDA58D1448FA373A47550C592D9" data-assetid="BA3EFBDA-58D1-448F-A373-A47550C592D9" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0024.jpg?etag=%2230fd8-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slideD2A2490BFB95433FB9569DC28F59DC71" data-assetid="D2A2490B-FB95-433F-B956-9DC28F59DC71" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0025.jpg?etag=%221ef1e-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slideB551078BC8DC456FBBA859FF1D9FA3AA" data-assetid="B551078B-C8DC-456F-BBA8-59FF1D9FA3AA" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0027.jpg?etag=%222f69d-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slide0BA4A146404B4468B3ECB98227EE7A15" data-assetid="0BA4A146-404B-4468-B3EC-B98227EE7A15" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0028.jpg?etag=%2224e1f-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slide776F27B6F45841CCAAB570F0E33D5B4B" data-assetid="776F27B6-F458-41CC-AAB5-70F0E33D5B4B" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0021.jpg?etag=%221ec18-5ab2b49f%22') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slide30F152E74D9C42099C05AD2D5E5F11DE" data-assetid="30F152E7-4D9C-4209-9C05-AD2D5E5F11DE" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0022.jpg?etag=%2223b71-5ab2b49f%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>
<div class="slider-item slide1D077982392D47F890F061DC2C01CD21" data-assetid="1D077982-392D-47F8-90F0-61DC2C01CD21" style="background: url('//cobach01.com.mx/____impro/1/paraescolares/IMG-20180321-WA0023.jpg?etag=%22235bb-5ab2b4a0%22&amp;resize=761,428') 50% no-repeat;width:100%;background-size:contain;display:block;min-height:508px;max-height:508px;"></div>

 <div class="item active">
        <img src="../static/img/caru1.jpg"  alt="caru1" style="width:50%; height:50%;" >
      </div>
{% endblock %}