{% extends 'base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% endblock %}

{% block headers %}
{% include 'navbar-doc.html' %}
    {% for projects in projects %}
    
        
    <div class="row project">   
            <div class="col-lg-10 col-md-8" >
                <h1 class="section-heading title">Bienvenido: {{projects.nombre}}</h1>
                
            </div>
    </div>
    {% endfor %}
{% endblock %}              

{% block content %}
<h1>Datos del catedratico</h1>
{% for projects in projects %}
<div class="row project">
        <div class="col-lg-10 col-md-8">
            <h2>Nombre: {{projects.nombre}}</h2>
            <h2>Apellidos: {{projects.apellidos}}</h2>
            <h2>Telefono: {{projects.telefono}}</h2>
            <h2>Email: {{projects.email}}</h2>
            <h2>Sexo: {{projects.sexo}}</h2>
            <h2>Edad: {{projects.edad}}</h2>
            <h2>Fecha de creacion: {{projects.fecha}}</h2>
        </div>
    </div>
    
{% endfor %}

{% endblock %}